*{
    margin: 0px;
    padding: 0px;
    font-family: 'Yusei Magic', sans-serif;
}

.box{
    top: 0px;
    width: 100%;
    /* height: 100vh; */
}
.container{
    background-color: #bab2e7;
    margin: 5px auto;
    /* margin-bottom: 5px; */
    width: 65%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.down{
    padding: 10px;
}
.btn{
    font-size: 25px;
    padding: 8px 10px;
    margin: 10px;
    border: 2px solid #e9e8ed ;
    border-radius: 10px;
    color: white;
    cursor: pointer;

}
/* // color */
.blue{
    background-color: rgb(50, 50, 190);
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: #e12ed3;
}

.btn:hover{
    background-color: black;
}
.res span{
    font-size: 23px;
    font-weight: bold;
}
#result{
    color: red;
}

.flex-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
img{
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px 2px black;
}
#game{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}
.item{
    width: 200px;
    height: 190px;
    margin: 20px;
    cursor: pointer;
}
.item:hover{
    box-shadow:2px 2px 29px 7px blue;
}

.msg{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    padding: auto 0px;
}
#human{
    box-shadow:2px 2px 29px 7px blue;
}
#bot{
    box-shadow:2px 2px 29px 7px red;
}
#txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#change{
    
    display: flex;
    margin: 15px;
    width: 85%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#choose{
    padding: 5px;
    width: 110px;
    border-radius: 5px;
    font-size: 20px;
}

/* Black jack CSS */

#black_box , #first_row , #third_row{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: green;
    width: 100%;
}
#black_box{
    flex-direction: column;
}
#top_msg{
    margin: 10px;
}
#my_box , #bot_box{
    padding: 5px;
    text-align: center;
    width: 50%;
    border: 2px solid black;
    height: 540px;
}
#my_score, #bot_score{
    font-size: 40px;
    color: white;
} 
#second_row{
    margin: 10px;
    border: 2px solid black;
}
table{
    width: 40%;
    height: 100px;
    color: white;
    text-align: center;
}
th{
    color: #590808;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px;
}
  
th, td{
    padding: 5px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.cards img{
    width: 120px;
}


@media screen and (max-width: 1200px){
    body{
        background-color: black;
    }
    h1{
        font-size: 24px;
    }
    .btn{
        font-size: 18px;
        padding: 5px;
    }
    .msg{
        font-size: 35px;
    }
    #choose{
        padding: 0px;
        width: 80px;
        font-size: 15px;
    }

    #my_score, #bot_score{
        font-size: 30px;
    }
    .cards img{
        width: 100px;
    }
}

@media only screen and (max-width: 1150px){
    #game{
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
}
@media only screen and (max-width: 850px){
    #my_box, #bot_box{
        width: 80%;
    }
}
@media only screen and (max-width: 820px){
    #first_row{
        flex-direction: column;
    }
    #my_box, #bot_box{
        width: 90%;
        height: 450px;
    }
}

@media only screen and (max-width: 600px){
    
    h1{
        font-size: 20px;
    }
    .res span{
        font-size: 20px;
    }
}
@media only screen and (max-width: 430px){
    .item{
        width: 150px;
        height: 120px;
    }
    .res span{
        font-size: 18px;
    }
    
    #my_score, #bot_score{
        font-size: 20px;
    }
    #second_row{
        display: flex;
    }
    .btn{
        margin: 5px;
    }
    img{
        width: 170px;
    }
    .container{
        width: 90%;
    }
}
